{{block "newtodo" .Todos}} {{range .}}
<div class="todo">
  <div class="todo--attrs">
    <div>
      <input
        name="complete-{{.ID}}"
        type="checkbox"
        {{if
        .Complete}}checked{{end}}
      />
    </div>
    <div class="todo--description">
      <span>{{.Description}}</span>
    </div>
  </div>
  <div class="todo--controls">
    <button
      hx-delete="/todo/{{.ID}}"
      hx-target="closest .todo"
      hx-swap="outerHTML"
    >
      X
    </button>
  </div>
</div>
{{end}} {{end}}
