<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todos | Page Not Found</title>
    <meta charset="utf-8" />
    <meta name="description" content="The page at this URL was not found. Visit the home page instead.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <main class="container">
      <h1>Page Not Found</h1>
      <p>
        That&rsquo;s to be expected, honestly.
      </p>
      <p>
        This little TODO app only has one page: <a href="/">The home page</a>.
      </p>
    </main>
  </body>
</html>
