<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todos | Something Went Wrong</title>
    <meta charset="utf-8" />
    <meta name="description" content="Something went wrong and the app is not working right now.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <main class="container">
      <h1>Something Went Wrong</h1>
      <p>
        The app isn&rsquo;t working right now. Please try again later.
      </p>
    </main>
  </body>
</html>
