{{block "todos" .}}
  <div id="todos">
    <form
      class="todo-form"
      method="post"
      action="/todo"
      hx-post="/todo"
      hx-target="#todos"
      hx-on:htmx:after-request="clearTodoForm(this)"
    >
      {{if .Error}}
        <div class="error">
          Error: {{.Error}}
        </div>
      {{end}}
      <div class="todo-form--label">
        <label for="description">Description</label>
      </div>
      <div class="todo-form--controls">
        <div>
          <input
            class="todo-form--input"
            name="description"
            type="text"
            required
          >
        </div>
        <div>
          <button class="todo-form--button" type="submit">Create</button>
        </div>
      </div>
    </form>
    {{template "todolist" .Todos}}
  </div>
{{end}}
