{{block "todo" .}}
  <div id="todo-container-{{.Todo.ID}}" class="todo-container">
    <form
      class="todo"
      hx-put="/todo/{{.Todo.ID}}"
      hx-swap="outerHTML"
      hx-target="#todo-container-{{.Todo.ID}}"
      hx-trigger="change throttle:250"
    >
      <div class="todo--attrs">
        <div>
          <input
            name="complete"
            type="checkbox"
            {{if .Todo.Complete}}checked{{end}}
          />
        </div>
        <div class="todo--description {{if .Todo.Complete}}todo--description__complete{{end}}">
          <input
            name="description"
            type="text"
            value="{{.Todo.Description}}"
            required
          >
        </div>
      </div>
      <div class="todo--controls">
        <button hx-delete="/todo/{{.Todo.ID}}" hx-target="#todos">
          &times;
        </button>
      </div>
    </form>
    {{if .Error}}
      {{template "inline_error" .Error}}
    {{end}}
  </div>
{{end}}
