<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/htmx.min.js"></script>
    <script>
      function clearTodoForm(e) {
        e.querySelector(".todo-form--input").value = "";
      }
    </script>
  </head>
  <body>
    <main class="container">
      <h1>Todos</h1>
      <form
        class="todo-form"
        method="post"
        action="/todo"
        hx-post="/todo"
        hx-target=".todos"
        hx-on:htmx:after-request="clearTodoForm(this)"
      >
        <div class="todo-form--label">
          <label for="description">Description</label>
        </div>
        <div class="todo-form--controls">
          <div>
            <input class="todo-form--input" name="description" type="text" />
          </div>
          <div>
            <button class="todo-form--button" type="submit">Create</button>
          </div>
        </div>
      </form>
      <div class="todos">
        {{if .Todos}} {{template "newtodo" .Todos}} {{end}}
      </div>
    </main>
  </body>
</html>
